@charset "ISO-8859-1";
body{
min-height:100vth;
background-image:url('images/libraryimage.jpg');
background-size:cover;
display:flex;
justify-content:center;
align-items:center;
padding:50px;
}
.contact-section{
width:100%;
display:flex;
justify-content:center;
align-items:center;
}
.contact-info{
color:white;
max-width:500px;
line-height:45px;
padding-left:50px;
font-size:18px;
}
.contact-info i{
margin-right:20px;
font-size:25px;}
.contact-form{max-width:700px;
margin-right:50px;}
.contact-info,.contact-form{
flex 1;
}
.contact-form h2{
color:white;
text-align:left;
font-family:sans-serif;
font-size:30px;
margin-bottom:5px;
}

.contact-form .text-box{
background:black;
color:white;
border:none;
width: calc(50% - 10px);
height:25px;
padding:12px;
font-size:15px;
border-radius:5px;
box-shadow:0 1px 1px rgba(0,0,0,0.1);
margin-bottom:20px;
opacity:0.9;
}

.contact-form textarea{
background-color:black;
color:white;
border:none;
width:100%;
padding:12px;
font-size:20px;
height:100px;
resize:vertical;
border-radius:5px;
box-shadow:0 1px 1px rgba(0,0,0,0.1);
mamargin-bottom:20px;
opacity:0.9;}

.contact-form .send-btn{
float:right;
background:#2E94E3;
color:white;
border:none;
width:100px;
height:40px;
font-size:15px;
font-weight:600;
text-transform:uppercase;
letter-spacing:2px;
border-radius:5px;
cursor:pointer;
transition:0.3s;
transition-property:background;
}
.contact-form .send-btn:hover{
background:#0582E3;
}
